
//*************变量
$--color-theme: #4285F4;

.tc { text-align: center; }

//-------------Font:
.fsize-mini { font-size: 16px; }
.fsize-small { font-size: 20px; }
.fsize-medium { font-size: 24px; }
.fsize-large { font-size: 28px; }

.fcolor-tips { color: #9a9a9a; }